<div class="volunteer-form-container">
  <details>
    <summary><h3>Vrijwilliger toevoegen<span class="arrow">></span></h3></summary>

    <form id="add-volunteer" class="volunteer-form" action="/dashboard/add" method="POST">
      <input name="newVolunteer" type="text" placeholder="Voer naam in...">
      <button type="submit" class="btn-add-volunteer">Opslaan</button>
    </form>

  </details>
</div>