<div class="manuals-index">
  <!-- Manual for chore tasks -->
  <div class="manuals-link">
    <div>
      <a href="">Corvee taken</a>
    </div>
    <div class="link-symbol">
      >
    </div>
  </div>

  <!-- Manual for dishwasher -->
  <div class="manuals-link">
    <div>
      <a href="">Schoonmaak instructies</a>
    </div>
    <div class="link-symbol">
      >
    </div>
  </div>

  <!-- Cleaning instructions -->
  <div class="manuals-link active">
    <div>
      <a href="">Handleiding vaatwasser</a>
    </div>
    <div class="link-symbol">
      >
    </div>
  </div>
</div>