<div class="manuals-index">
  <!-- Manual for chore tasks -->
  <a href="/manuals/tasks">
    <div class="manuals-link <%= activeManual === 'tasks' ? 'active' : '' %>">
      <div class="manuals-link">
        Corvee taken
      </div>
      <div class="link-symbol">
        >
      </div>
    </div>
  </a>

  <!-- Manual for dishwasher -->
  <a href="/manuals/dishwasher">
    <div class="manuals-link <%= activeManual === 'dishwasher' ? 'active' : '' %>">
      <div class="manuals-link">
          Handleiding vaatwasser
        </div>
        <div class="link-symbol">
          >
        </div>
      </div>
    </a>
  
  <!-- Cleaning instructions -->
  <a href="/manuals/cleaning">
    <div class="manuals-link <%= activeManual === 'cleaning' ? 'active' : '' %>">
      <div class="manuals-link">
          Schoonmaak instructies
        </div>
        <div class="link-symbol">
          >
        </div>
      </div>
    </a>
</div>