<div class="toolbar">
  
  <!-- Calendar -->
  <%- include ('../partials/toolbar-agenda/calendar.ejs'); %>
  
  <!-- Save changes on dashboard -->
  <%- include ('../partials/toolbar-agenda/saveChanges.ejs'); %>

  <!-- Print button which prints the agenda page-->
  <%- include ('./elements/btnPrint.ejs', {btnClass: 'btn-print', onClick: 'printPage()'}); %>

  <!-- Load agenda in background so it can be printed from the dashboard -->
  <iframe id="print-frame" style="display:none;"></iframe>
  
</div>