<div class="toolbar">

  <!-- Overview all volunteers-->
  <%- include ('../partials/toolbar-volunteers/overview.ejs'); %>

  <!-- Add volunteer-->
  <%- include ('../partials/toolbar-volunteers/add.ejs'); %>

  <!-- Delete volunteer-->
  <%- include ('../partials/toolbar-volunteers/delete.ejs'); %>

</div>