<div class="toolbar">
  
  <!-- Calendar -->
  <%- include ('../partials/toolbar-agenda/calendar.ejs'); %>
  
  <!-- Save changes on dashboard -->
  <%- include ('../partials/toolbar-agenda/saveChanges.ejs'); %>
</div>
