
/* === PAGINA INSTELLINGEN === */
@page {
  size: A4 portrait;
  margin: 1cm;
}

/* Styling for the printed version of the schedules */
@media print {
  .navbar,
  .toolbar-btn,
  .page-label, 
  .manuals-index {
    display: none !important;
  }

  .manuals-content {
    color: black;
    padding: 5px 5px 5px 5px;
    line-height: 1.3;
  }

  .manuals-help{
    border: 2px solid black;
    padding: 15px;
    margin-top: 40px;
  }

  .manuals-subtitle{
    margin: 5px;
  }

  body {
    background: white;
    font-size: var(--font-default-size);
  }

  /* === HEADER === */
  header.page-content {
    padding: 0;
    margin-bottom: 6px;
  }

  .page-title {
    font-size: var(--font-default-size);
    margin-bottom: 6px;
  }
}