/* Butttons themselves are syled in buttons.css */
.toolbar {
  display: flex;
  justify-content: start;
  gap: 1rem;
  margin-bottom: 4rem;
}

.toolbar-group-volunteers,
.toolbar-group-agenda {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto 32px auto;
  padding: 20px 32px 0 32px;
  font-family: var(--font-quicksand-reg);
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: var(--radius);
}

.toolbar-group-volunteers legend,
.toolbar-group-agenda legend {
  font-family: var(--font-quicksand-bold);
  font-size: var(--font-default-size);
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--accent);
  padding: 0 8px;
}

@media (max-width: 1000px) {
  .toolbar-group-agenda,
  .toolbar-group-volunteers {
    border-radius: 0;
  }
}

@media (max-width: 600px) {
  .toolbar {
    display: flex;
    flex-direction: column;
  }

  .toolbar-group-agenda,
  .toolbar-group-volunteers {
    align-items: center;
    min-width: 320px;
    padding: 20px 10px 0 10px;
  }
}
