.manuals-container{
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  font-family: var(--font-quicksand-reg);
}

.manuals-index{
  color: var(--text);
  flex: 1;
  width: 100%;
  padding-top: 20px;
  border-right: solid 1px var(--border);
  background-color: inherit;
}

.manuals-index a{
  display: block;
  text-decoration: none;
}

.manuals-content{
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: start;
  line-height: 1.6;
  color: var(--text);
  padding: 40px 40px 40px 40px;
  background-color: var(--accent-light);
}

.manuals-subtitle{
  margin-top: 30px;
  margin-bottom: 10px;
}

.manuals-link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: var(--font-weight-bold);
  color: inherit;
  padding: 8px 10px 8px 16px;
}

.manuals-link:hover{
  color: var(--text);
  background-color: var(--accent-light);
}

.active {
  color: var(--card);
  background-color: var(--accent-hover);
}

.link-symbol{
  display: block;
}

/* When app is viewed on smaller resolution */
@media (max-width: 960px) {

  /* Move navigation to the top */
  .manuals-container {
    flex-direction: column;
  }

  .manuals-index{
    flex: none;
    border-bottom: solid 1px var(--border);
    border-right: none;
}

  /* Hide arrows next to each link */
  .link-symbol{
    display: none;
  }
}

.manuals-help{
  border: 2px solid var(--accent-hover);
  padding: 15px;
  margin-top: 40px;
}

/* PAGES - CORVEE-TAKEN */
.manuals-chores-table {
  width: 100%;
}

.manuals-chores-table td {
  padding: 5px;
  border-bottom: 1px solid var(--text);
}

.manuals-chores-table td:first-child {
  border-right: 1px solid var(--text);
}
