<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/variables.css">
  <link rel="stylesheet" href="css/global.css">
  <link rel="stylesheet" href="css/pages/index.css">
  <title>Login</title>
</head>
<body class="body-centered">

<main>
    <div class="form-container">

      <div class="login-header">
      <div class="login-logo">
        <img src="/assets/logo_aletho.jpeg" alt="" srcset="">
      </div>

        <p class="login-label">Corvee dienst</p>
        <h1 class="login-title">Welkom terug</h1>
      </div>

      <form class="login-form" action="" method="POST">

        <div class="field">
          <label for="username">Gebruikersnaam</label>
          <input type="text" id="username" name="username" placeholder="John Doe" autocomplete="username">
        </div>

        <div class="field">
          <label for="password">Wachtwoord</label>
          <input type="password" id="password" name="password" placeholder="••••••••" autocomplete="current-password">
        </div>

        <button type="submit" class="btn-login">Inloggen</button>

      </form>

      <p class="login-footer">Geen account? Neem contact op met de begeleiding.</p>

    </div>
  </main>

</body>
</html>