<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/variables.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/pages/manuals.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <title>Corvee Handleiding</title>
  </head>

  <body>

    <!-- NAVIGATION PARTIAL -->
    <div class="manuals-index">
      <%- include ('../partials/navbar.ejs'); %>
    </div>

    <!-- MANUALS NAVIGATION PARTIAL -->
    <div class="manuals-container">
      <%- include ('../partials/navbar-manuals.ejs'); %>
        
      <!-- MANUALS CONTENT PARTIAL -->
      <div class="manuals-content">
        <%- include ('../partials/manuals/vaatwasser.ejs'); %>
      </div>
    </div>

  </body>
</html>