<div class="manuals-content">

  <h1>Schoonmaak instructies</h1><br>

  <h3>Koffiezetapparaat groot:</h3>

  <ul class="manuals-list">
    <li>Stekker uit stopcontact.</li>
    <li>Ketel in gootsteen zetten en beetje water in doen. Stekker NIET in het water laten komen.</li>
    <li>Met schone vaatdoek de binnenkant schoonmaken. GEEN reinigingsmiddelen gebruiken.</li>
    <li>Naspoelen met water, kraantje open zetten.</li>
    <li>Buiten­kant droog wrijven en kraantje dicht zetten.</li>
    <li>Ketel weer terug plaatsen en stekker in stopcontact.</li>
  </ul>
  <br>

  <h3>Koffiezetapparaat klein:</h3>

  <ul class="manuals-list">
    <li>Doe de beugel omhoog.</li>
    <li>Haal opvangbakje voorzichtig naar voren.</li>
    <li>Gooi de oude capsules weg.</li>
    <li>Gooi uitlekbakje leeg in de gootsteen.</li>
    <li>Maak uitlekbakje schoon en droog en plaats dit terug.</li>
    <li>Haal het waterreservoir aan de achterkant voorzichtig los en gooi het water weg in de gootsteen.</li>
    <li>Maak de binnenkant van het reservoir schoon met een doekje. GEEN reinigingsmiddel gebruiken.</li>
    <li>Vul het reservoir met water en plaats dit voorzichtig terug.</li>
    <li>Klap de beugel weer naar beneden.</li>
    <li>Maak de buitenkant van het apparaat schoon en droog.</li>
  </ul>
  <br>

  <h3>Thee- en koffiekannen:</h3>

  <ul class="manuals-list">
    <li>Vul de waterkoker met water en zet de waterkoker aan.</li>
    <li>Vul de (thee- en koffie)kannen voor de helft met azijn en vul dit aan met heet water uit de waterkoker.</li>
    <li>Laat dit 15 minuten staan.</li>
    <li>Maak in de tussentijd de buitenkant van de kannen schoon en droog.</li>
    <li>Na 15 minuten de kannen leeg gieten in de gootsteen en spoel de kannen goed na.</li>
  </ul>
  <br>

  <h3>Waterkoker:</h3>

  <ul class="manuals-list">
    <li>Vul de waterkoker voor de helft met azijn en vul het aan met water en zet deze aan.</li>
    <li>Laat na het koken de waterkoker nog 10 minuten staan.</li>
    <li>Giet het water leeg en spoel de koker goed om.</li>
    <li>Maak de waterkoker aan de buitenkant schoon en droog.</li>
  </ul>
  <br>

  <h3>Vaatwasser:</h3>

  <ul class="manuals-list">
    <li>Haal het filter uit de machine.</li>
    <li>Maak filter goed schoon onder de kraan.</li>  
    <li>Plaats filter terug in de machine.</li>
    <li>Maak machine aan buitenkant schoon en droog.</li>
  </ul>
  <br>

  <h3>Koelkast:</h3>

  <ul class="manuals-list">
    <li>Maak de koelkast van binnen schoon met een zachte doek.</li>
    <li>Maak daarna de koelkast van binnen droog.</li>
    <li>Maak koelkast aan buitenkant schoon en droog.</li>
  </ul>
  <br>
    
  <h3>Vrieskast:</h3>

  <ul class="manuals-list">
    <li>Maak de vrieskast van binnen schoon met een zachte doek.</li>
    <li>Maak daarna de vrieskast van binnen droog.</li>
    <li>Maak vrieskast aan buitenkant schoon en droog.</li>
  </ul>
  <br>

  <h3>Melkschuimer:</h3>

  <ul class="manuals-list">
    <li>Maak de melkschuimer van binnen schoon met een zachte doek.</li>
    <li>Maak daarna de melkschuimer van binnen droog.</li>
    <li>Maak melkschuimer aan buitenkant schoon en droog.</li>
  </ul>

  <br>
  
  <!-- Print button -->
  <%- include ('../elements/btnPrint.ejs'); %>

</div>