<div class="manuals-content">
  
  <img src="/assets/logo_aletho.jpeg" id="manual-logo" alt="" srcset="">
  <h1>Handleiding vaatwasser</h1><br>

  <ul class="manuals-list">
    <li>Pak een vaatwasblokje uit de doos, deze hoef je niet uit te pakken.</li>
    <li>Doe het blokje in het vakje in de binnenkant van de vaatwasser deur en doe de deur omhoog.</li>
    <li>Druk op de aanknop. Deze bevindt zich aan de rand van de vaatwasser deur.</li>
    <li>Doe de vaatwasser dicht.</li>
    <li>Druk op de programma knop aan de voorkant van de vaatwasser tot dat er een lampje komt bij het programma: 30 minuten- 60 graden.</li>
    <li>Druk op start.</li>
  </ul>

  <br>

  <!-- Print button -->
  <%- include ('../elements/btnPrint.ejs', {btnClass: 'toolbar-btn'}); %>

</div>