<div class="manuals-content">

  <H1>Corveetaken</H1><br>
  
  <div class="manuals-subtitle">
    <h2>Ochtend</h2>
  </div>

  <table class="manuals-chores-table">
    
    <tbody>

      <tr>
        <td>
          10:15 uur
        </td>
        <td>
          Koffie en thee zetten.
        </td>
      </tr>
    
      <tr>
        <td>
          10:25 uur
        </td>
        <td>
          Roepen voor pauze.<br>
          Koffie en thee inschenken.
        </td>
      </tr>

      <tr>
        <td>
          Na pauze
        </td>
        <td>
          De vaatwasser inruimen.<br>
           Met een nat doekje over de kantinetafels.<br>
           Afvalbakjes van tafel legen in de prullenbak.<br>
        </td>
      </tr>

      <tr>
        <td>
          11:45 uur
        </td>
        <td>
          Koffie en thee zetten (navragen aan de begeleiding).
        </td>
      </tr>

      <tr>
        <td>
          11:55 uur
        </td>
        <td>
          Roepen voor pauze.<br>
          Koffie en thee inschenken.
        </td>
      </tr>
    </tbody>
  </table>
  <br>
 <div class="manuals-subtitle">
   <h2>Middag</h2>
 </div>

  <table class="manuals-chores-table">
    <tbody>

      <tr>
        <td>
          13:00 uur
        </td>
        <td>
          De vaatwasser inruimen en aanzetten.<br>
          Met een nat doekje over de kantinetafels.<br>
          Afvalbakjes van tafel legen in de prullenbak.
        </td>
      </tr>

      <tr>
        <td>
          14:15 uur
        </td>
        <td>
          Koffie en thee zetten.<br>
          Vaatwasser uitruimen.
        </td>
      </tr>

      
      <tr>
        <td>
          14:25 uur
        </td>
        <td>
          Roepen voor pauze.<br>
          Koffie en thee inschenken.
        </td>
      </tr>

      <tr>
        <td>
          Na pauze
        </td>
        <td>
          Met een nat doekje over de kantinetafels.<br>
          Afvalbakjes van tafel legen in de prullenbak.<br>
          De vaatwasser inruimen inclusief koffiepot en afvalbakjes.<br>
          De vaatwasser aanzetten.
        </td>
      </tr>

    </tbody>
  </table>
  <br>

  <div class="manuals-help">
    <b>
      - De begeleiding is altijd beschikbaar voor als je vragen of ondersteuning nodig hebt.<br><br>
      - Als je nieuw bent met de corveetaken of als je onzeker bent over het uitvoeren hiervan, bespreek dit dan met de begeleiding.<br><br>
      - Je mag je corveemoment ruilen met een andere deelnemer, spreek dit af met een andere deelnemer, en geef dit door aan de begeleiding.<br><br>
      - Ga naar de begeleiding als je een eigen uitdraai van dit overzicht wilt.
    </b>
    
  </div>

  <br>

  <!-- Print button -->
  <%- include ('../elements/btnPrint.ejs'); %>

</div>