<div class="manuals-content">
  <H2>Handleiding vaatwasser</H2><br>

  - Pak een vaatwasblokje uit de doos, deze hoef je niet uit te pakken.<br><br>
  - Doe het blokje in het vakje in de binnenkant van de vaatwasser deur en doe de deur omhoog.<br><br>
  - Druk op de aanknop. Deze bevindt zich aan de rand van de vaatwasser deur.<br><br>
  - Doe de vaatwasser dicht.<br><br>
  - Druk op de programma knop aan de voorkant van de vaatwasser tot dat er een lampje komt bij het programma: 30 minuten- 60 graden.<br><br>
  - Druk op start.
</div>